body {
    background-color: #111111;
    cursor: url("/arrow.cur"), auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

div.window {
    position: absolute;
}

div.window.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.window.left {
    top: 50%;
    left: 20px;
    transform: translate(0px, -50%);
}

div.window.right {
    --left: calc(20px + 460px + 3px + 20px);
    top: 50%;
    left: var(--left);
    width: 100%;
    max-width: calc(100% - var(--left) - 6px - 20px);
    transform: translate(0px, -50%);
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

.id {
    background-color: #000000;
    color: #00ff00;
    padding: 5px;
    margin: 0px;
    cursor: text;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

mark.id {
    padding: inherit;
}

.id.notworking {
    color: #ff0000;
}

.id.unsure {
    color: #ffff00;
}